  body {
    font-family: Arial, sans-serif;
    background: #ff5733;
}

.container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #000000;
}

#message {
    margin-top: 15px;
    text-align: center;
    color: blue;
    font-weight: bold;
}



