body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1d2671, #c33764);
    margin: 0;
    padding: 0;
}

/* LOGIN */
.login-box {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

.login-box button {
    background: #1d2671;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

/* SHOP */
.shop {
    display: none;
    padding: 20px;
    text-align: center;
    color: white;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

.card button {
    background: #c33764;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}
